@charset "utf-8";
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    font-weight: 200;
    background-color: #DDDDDD;
}
.dis_alan {
	height: auto;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
}
.banner {
	text-align: center;
	height: 40px;
	width: 1000px;
	padding-top: 10px;
}
.icerik_alan {
	height: auto;
	width: 1000px;
}
.bawliq {
	text-align:center;
	background-color: #1E3C7B;
	height:30px;
	color: #FFF;
	width: 1000px;
	font-size: 23px;
	font-weight: bold;
	padding-top:5px;
}
.bawliqezamiyye {
	text-align:center;
	background-color: #1E3C7B;
	height:60px;
	color: #FFF;
	width: 1000px;
	font-size: 23px;
	font-weight: bold;
	padding-top:5px;
}
.bawkant {
	color: #FFF;
	background-color: #517DBF;
	width: 1000px;
	height:10px;
}

.agyer {
	height:25px;
	width: 1000px;
}
.formas03{
	font-size: 16px;
	color: #000;
	width: 100px;
	float:right;
	font-family: Verdana, Geneva, sans-serif;
	margin: 5px;
}
.formakant {
	padding-top:5px;
	background-color: #517DBF;
	width: 1000px;
	height:20px;
	float:left;
	text-align:center;
	color: #FFF;
}
.frmdolduran {
	background-color: #EBF0F9;
	width: 1000px;
	float:left;
}
.rublukmel {
	padding-top:6px;
	text-align:center;
	background-color: #339966;
	height:28px;
	color: #FFF;
	width: 1000px;
	font-size: 22px;
	font-weight: bold;
	float:left;
	margin-top:30px;
}
.yarimillikmel {
	padding-top:6px;
	text-align:center;
	background-color: #339966;
	height:28px;
	color: #FFF;
	width: 1000px;
	font-size: 22px;
	font-weight: bold;
	float:left;
	margin-top:30px;
}
.ixtisasterkibi {
	text-align:center;
	padding-top:5px;
	margin-top:15px;
	background-color: #517DBF;
	width: 1000px;
	height:20px;
	float:left;
	color: #FFF;
}
.table{
	border-top-style: dotted;
	border-right-style: dotted;
	border-bottom-style: dotted;
	border-left-style: dotted;
	border-width:1px;
    width:1000px;
	}
.ferqli{
	border-top-style: dotted;
	border-right-style: dotted;
	border-left-style: dotted;
    width:1000px;
	border-width:1px;
	}
.footer {
    background-color: #1E3C7B;
    float:left;
    text-align:center;
	height:30px;
	width: 1000px;
	padding-top:5px;
}
.footerkant {
	background-color: #517DBF;
	width: 1000px;
	height:10px;
    float:left;
}
.bwliq {
    padding-left: 40px;
    font-weight: normal;
    padding-top: 2px;
    width: 257px;
}
